<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :receiver_id, as: :hidden, input_html: { value: params[:to]} %>
    <p>TO: <%= @receiver.profile.name %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :subject %>
      </div>
      <div class="col-md-6">
        <%= f.input :message %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
