<div class="panel panel-default">
	<div class="panel-body">
<%= startup.name %><br>
        <%= startup.description %><br>
        <%= startup.logo %><br>
        <%= startup.website %><br>
        <%= startup.owner_id %><br>
       </div>
      </div>