<p id="notice"><%= notice %><%= alert %></p>
<h1><%= @startup.name %> <%= premium_listing(@startup) %>
  <small>
  <% @startup.categories.each do |category| %>
    <span class="label label-info"><%= category.name %></span>
  <% end %>
  </small>
</h1>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Details</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
          <%= image_tag(@startup.logo_url, class: 'img-responsive') %>
        <h4>ABOUT</h4>
        <p><%= @startup.description %></p>
        <hr>
        <p><strong>Make this a premium listing for $25</strong></p>
        <form action="/payments?price=2500&startup=<%= @startup.id %>" method="POST">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-amount="2500"
            data-name="Startup Community"
            data-description="Premium Listing ($25.00)"
            data-image="/128x128.png"
            data-locale="auto"
            data-email="<%= current_user.email %>"
            data-currency="aud"
            data-label="Buy your premium listing">
          </script>
        </form>
        <hr>
        <p><strong>Website: </strong><%= @startup.website %></p>
        <p><strong>Contact profile: </strong><%= link_to @owner_profile.name, profile_path(@owner_profile) %></p>
        <p><strong>People in this startup:</strong></p>
        <ul>
          <% @startup.users.each do |user| %>
            <li><%= link_to user.profile.name, profile_path(user.profile) %></li>
          <% end %>
        </ul>


<% if user_signed_in? %>
  <% if @startup.users.include?(current_user) %>
    <p><%= link_to "I'm leaving", leave_startup_path, method: :delete, class: 'btn btn-danger btn-xs' %></p>
  <% else %>
    <p><%= link_to 'I work here', join_startup_path, class: 'btn btn-default btn-xs' %></p>
  <% end %>
<% end %>

<hr>
<h3>Tags</h3>
<ul>
  <% @startup.tags.each do |tag| %>
    <li><%= link_to tag.name, startups_path(tag: tag.name) %> (<%= tag.taggings_count %>)</li>
  <% end %>
</ul>

<% if @startup.is_owner?(current_user) %>
  <%= link_to 'Edit', edit_startup_path(@startup) %>
<% end %>
</div>
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
<h4>Locations</h4>
<% @locations.each do |location| %>
  <h5><strong><%= location.name %></strong></h5>
  <p><%= location.street %></p>
  <p><%= location.suburb %> <%= location.state %> <%= location.postcode %><br><%= location.country %></p>
  <hr>
<% end %>
</div>
<div class="col-md-6">
<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 200px;'></div>
</div>
</div>
<% if user_signed_in? %>
  <% unless @startup.users.include?(current_user) %>
    <% if (current_user.reviews & @startup.reviews) == [] %>
      <%= link_to 'Add review', new_review_path(startup: @startup.id), class: 'btn btn-info' %>
    <% end %>
  <% end %>
<% end %>
<%= render @reviews %>
</div>
</div>




<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    <% @locations.each_with_index do |location, index| %>
    {
      "lat": <%=location.latitude %>,
      "lng": <%=location.longitude %>,
      "infowindow": "hello!"
    }<%= (index + 1) == @locations.count ? '' : ', ' %>
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
