<%= simple_form_for(@premium_listing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :startup %>
    <%= f.input :price %>
    <%= f.input :expiry_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
