<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @premium_listing.user %>
</p>

<p>
  <strong>Startup:</strong>
  <%= @premium_listing.startup %>
</p>

<p>
  <strong>Price:</strong>
  <%= @premium_listing.price %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @premium_listing.expiry_date %>
</p>

<%= link_to 'Edit', edit_premium_listing_path(@premium_listing) %> |
<%= link_to 'Back', premium_listings_path %>
